<ul class="nav nav-pills nav-stacked">
    {% for news in listNews %}
        <li><a href="{{ path('ssg_news_view', {'id': news.id}) }}">{{ news.title }}</a> de <i>{{ news.author }}</i></li>
    {% endfor %}
</ul>